<div class="container mx-auto mt-10">
    @if (!canChoose) {
    <p class="font-semibold mb-8">Translators list</p>
    }
    <div [ngClass]="!isVisible ? 'max-h-0': ''" class="overflow-hidden transition-all duration-500 ease-in-out">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th class="py-2 px-4 border-b">First Name</th>
                    <th class="py-2 px-4 border-b">Last Name</th>
                    <th class="py-2 px-4 border-b">Email</th>
                    <th class="py-2 px-4 border-b">Languages</th>
                    <th class="py-2 px-4 border-b"></th>
                </tr>
            </thead>
            <tbody>
                @for (translator of translators; track translator.id) {
                <tr class="hover:bg-blue-200 dark:hover:bg-gray-600">
                    <td class="py-2 px-4 border-b">{{translator.firstName}}</td>
                    <td class="py-2 px-4 border-b">{{translator.lastName}}</td>
                    <td class="py-2 px-4 border-b">{{translator.email}}</td>
                    <th class="py-2 px-4 border-b">
                        <div class="inline-flex rounded-md shadow-sm" role="group">
                            @for (language of translator.languages; track $index) {
                            <div type="button"
                                class="px-4 py-2 text-sm font-mono border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                                {{language}}
                            </div>
                            }
                        </div>
                    </th>
                    @if (canChoose) {
                    <td class="py-2 px-4 border-b">
                        <button type="button" (click)="updateTrasnlator(translator.id)"
                            class="text-white bg-gray-400 hover:bg-gray-500 focus:outline-none focus:ring-4 focus:ring-blue-300 font-sans rounded-full text-sm px-3 py-1.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Choose
                            this
                        </button>
                    </td>
                    }

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>