<nav class="bg-gray-800 p-4">
  <ul class="flex space-x-4">
    <li><a routerLink="/dashboard" routerLinkActive="text-indigo-500"
        class="text-white hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium">Dashboard</a></li>
    <li><a routerLink="/report" routerLinkActive="text-indigo-500"
        class="text-white hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium">Report</a></li>
    <li><a routerLink="/translators" routerLinkActive="text-indigo-500"
        class="text-white hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium">Translators</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>